body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

*,
*:after,
*:before {
    vertical-align: top;
}

a {
    color: #333;
    transition: color 0.4s;
}

a:hover {
    text-decoration: none;
    color: #333;
}


/* Global */

.container {
    max-width: 990px;
}

.button {
    background: #f07846;
    color: #fff;
    padding: 12px 29px;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    transition: background 0.3s;
    border: 0;
    outline: 0;
    border-radius: 0;
}

.button:hover {
    background: #02a2b5;
    color: #fff;
}

h2 {
    font-size: 30px;
}


/* Reset select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    padding: 0.4rem;
    color: #969696;
    border-radius: 0;
    padding-right: 20px;
    outline: 0;
    border: 1px solid #ccc;
    background: #fff url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20#95969a%22%3E%3C/polygon%3E%3C/svg%3E") right 6px center no-repeat;
    background-size: 8px 8px;
    cursor: pointer;
}


/* Checkbox */

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: "villalet-fontset";
    content: "\76";
    color: #fff;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background: #eb6234;
    border: 0;
}


/* Header */

header {
    position: relative;
    padding-top: 5px;
    color: #95969a;
}

header:before {
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background-image: url(./images/separator.png);
    content: "";
    top: 0;
}


/* Logo wrapper */

.logo-wrapper {
    white-space: nowrap;
    font-size: 0;
}

.logo-wrapper .logo,
.logo-wrapper .tagline {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.logo-wrapper .tagline {
    padding: 7px 0;
    margin-left: 30px;
}

.logo-wrapper .tagline p {
    margin: 0;
}

.logo .svg {
    height: 50px
}


/* Header form */

.header-form-wrapper {
    text-align: right;
}

.header-form .header-form-control {
    height: 32px;
    min-width: 55px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
    transition: background-color 0.4s, border-color 0.4s;
}

.header-form .header-form-control:hover {
    background-color: #f1632a;
    border-color: #f1632a;
    color: #fff;
}

.header-form button {
    background: transparent;
    color: #f1632a;
    text-transform: uppercase;
    padding: 0 20px;
    ;
}

.header-top {
    padding: 20px 0;
}

.header-form {
    padding: 11px 0;
}


/* Navbar */

.navbar {
    border: 0;
    background-color: #e6e6e6;
    margin-bottom: 0;
}

#navbar .navbar-right,
#navbar .navbar-right a {
    color: #f1632a;
}

#navbar .navbar-right .icon {
    font-size: 30px;
    height: 20px;
    display: inline-block;
    margin-top: -3px;
}

#navbar .navbar-right .icon:before {
    display: inline-block;
}

#navbar {
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;
}

#navbar,
#navbar a {
    color: #02a2b5;
    transition: background-color 0.4s
}

.navbar-default #navbar .navbar-nav>.open>a,
.navbar-default #navbar .navbar-nav>.open>a:focus,
.navbar-default #navbar .navbar-nav>li>a:hover,
.navbar-default #navbar .navbar-nav>.active>a,
.navbar-default #navbar .navbar-nav>.active>a:focus,
.navbar-default #navbar .navbar-nav>.active>a:hover {
    background-color: #02a2b5;
    color: #fff;
}

.navbar-nav>li>.dropdown-menu {
    background: #00b1c6;
    box-shadow: none;
    border: none;
    border-radius: 0;
    min-width: 100%;
    padding: 0;
}

#navbar .navbar-nav>li>.dropdown-menu a {
    padding: 10px 20px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #21c6d9
}

#navbar .navbar-nav>li>.dropdown-menu,
#navbar .navbar-nav>li>.dropdown-menu a {
    color: #fff;
    ;
}


/* Content -------- */


/* Slideshow */

.slideshow {
    position: relative;
}


/* Enquery box */

.enquiry-box {
    position: absolute;
    bottom: 35px;
    z-index: 150;
    left: 0;
    right: 0;
}

.enquiry-box .box {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
    padding: 10px 10px;
}

.enquiry-box input,
.enquiry-box select {
    border-radius: 0;
}

.enquiry-box select {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20#95969a%22%3E%3C/polygon%3E%3C/svg%3E")
}

.enquiry-box .button {
    padding: 5px 10px;
    font-size: 14px;
    height: 34px;
    width: 100%;
}

.enquiry-box .row {
    margin-left: -5px;
    margin-right: -5px;
}

.enquiry-box .col-md-2,
.enquiry-box .col-md-4,
.enquiry-box .col-md-5 {
    padding-left: 5px;
    padding-right: 5px;
}


/* Slideshow */

#slideshow {
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

#slideshow .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 4s;
    transition: transform 4s;
    transition: transform 4s, -webkit-transform 4s;
}

#slideshow .slide-item.cycle-slide-active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Featured */

.featured {
    text-align: center;
    color: #7D7D7D;
    padding: 30px 0;
}

.featured .icon {
    font-size: 80px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    color: #ec6335;
}

.featured h3 {
    font-size: 20px;
    color: #585858;
    margin-top: 10px;
    line-height: 1.4;
}

.featured ul {
    margin: 0;
    padding: 0;
}

.featured li {
    list-style: none;
}

.featured li:before {
    content: "\2022";
    font-size: 17px;
    vertical-align: middle;
    line-height: 1;
    margin-right: 6px;
}

.villa-grid {
    background-color: #efefef;
    padding: 50px 0;
}

.villa-grid .image {
    padding-bottom: 65%;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
}

.villa-grid .image-bg {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.villa-grid .image:hover .image-bg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.villa-grid .image:hover .overlay {
    opacity: 1;
}

.villa-grid .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    opacity: 0;
    transition: opacity 0.4s;
}

.villa-grid .overlay > span {
    position: relative;
    max-width: 150px;
    display: inline-block;
    margin: 0 auto;
    line-height: 1.7;
}

.villa-grid .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.villa-grid .details {
    border: 1px solid #C3C3C3;
    border-top: 0;
    background: #fff;
    text-transform: uppercase;
    overflow: hidden;
    margin-bottom: 30px;
}

.villa-grid .details h3 {
    margin: 0;
    font-size: 17px;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.villa-grid .details p {
    margin: 0;
}

.villa-grid .details .name {
    padding: 16px;
    width: 70%;
    float: left;
}

.villa-grid .details h3:before {
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: #333;
    bottom: 0;
    left: 0;
    content: "";
}

.villa-grid .details .price,
.villa-grid .details .room {
    overflow: hidden;
    float: right;
    width: 30%;
    background: #00b1c6;
    color: #fff;
}

.villa-grid .details .price {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.villa-grid .details .old-price {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 12px;
}

.villa-grid .details .lowest-price-label {
    font-size: 12px;
}

.villa-grid .details .room {
    text-align: center;
    background: #0096a7;
    padding: 5px;
}

.villa-grid .details .room .icon {
    font-size: 36px;
    display: inline-block;
    height: 24px;
    margin-top: -4px;
    opacity: 0.6;
}

.villa-grid .villa-label {
    position: absolute;
    top: -8px;
    background-color: #ed6229;
    left: 30px;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    font-size: 11px;
    max-width: 100px;
    text-align: center;
    padding: 6px;
}

.villa-grid .view-all {
    text-align: center;
    margin-top: 10px;
}


/* Desc */

section.desc {
    text-align: center;
    font-size: 18px;
    color: #808080;
    padding: 40px 0;
}

section.desc h2 {
    color: #1695a4;
    margin-bottom: 20px;
    margin-top: 0;
}

section.desc p {
    margin: 0;
}


/* Customer review */

section.customer-review {
    text-align: center;
    padding: 40px 0;
    position: relative;
    color: #fff;
}

section.customer-review > * {
    position: relative;
}

section.customer-review:before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.59);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}

section.customer-review h2 {
    margin: 0;
}

section.customer-review p {
    margin: 20px 0;
}

section.customer-review .review {
    font-size: 20px;
    font-family: 'Simonetta', cursive;
    line-height: 1.7;
}

section.customer-review .review .reviewer {
    font-size: 18px;
    margin-bottom: 0;
}


/* Link grid */

.link-grid {
    padding: 30px 0;
}

.link-grid h3 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.link-grid .images {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
}

.link-grid .image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.link-grid .images:hover .image-bg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.link-grid .desc {
    padding: 15px 0;
    color: #828282;
    padding-bottom: 10px;
}

.link-grid a {
    color: #2fbdc8;
    font-weight: bold;
    font-size: 15px;
}

.link-grid a:hover {
    color: #f07846;
}


/* Footer */

footer {
    position: relative;
    padding-top: 5px;
}

footer:before {
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background-image: url(./images/separator.png);
    content: "";
    top: 0;
}

.footer-top {
    background: #242b33;
    color: #fff;
    padding: 50px 0;
    padding-bottom: 30px;
}

.footer-top a {
    color: #D2D2D2;
}

.footer-top a:hover {
    color: #fff;
}

.footer-top h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-top h3:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #eb784b;
    left: 0;
    bottom: 0;
    width: 90px;
}

.footer-top ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
}

.footer-top li {
    line-height: 1.8;
}

.footer-top input[type=text] {
    border: 1px solid #A0A0A0;
    background: transparent;
    border-radius: 0;
    font-size: 15px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px;
    width: 80%;
}

.footer-top .button {
    background-color: #00b1c6;
}

.footer-top .button:hover {
    background-color: #f07846;
}

.footer-top .social-links li {
    background: #00b1be;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    color: #000;
    padding: 9px 0;
    font-size: 16px;
    margin-right: 3px;
}

.footer-top .footer-logo {
    max-width: 170px;
    padding: 50px 0 30px 0;
}

.footer-top .footer-logo .svg * {
    fill: #fff !important;
}

.footer-top .social-links li:hover {
    background-color: #f07846;
}

.footer-top .social-links li a {
    color: #000;
}


/* Footer bottom */

.footer-bottom {
    background-color: #20242d;
    color: #A2A2A2;
    padding: 20px 0;
    font-size: 13px;
}

.footer-bottom a {
    color: #A2A2A2;
}

.footer-bottom a:hover {
    color: #fff;
}

.footer-bottom ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.footer-bottom li {
    float: left;
}

.footer-bottom li:after {
    content: "|";
    margin: 0 8px;
}

.footer-bottom li:last-child:after {
    display: none;
}


/* Property Details Page ----------  */

.property-detail {
    color: #696969;
}

.property-detail h4 {
    font-size: 22px;
    text-transform: uppercase;
    color: #29aac0;
}


/* Hero image */

.hero-image {
    min-height: 600px;
    position: relative;
}

.hero-image .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.hero-image .camera-icon {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

.hero-image .camera-icon i {
    background: rgba(0, 0, 0, 0.62);
    color: #fff;
    font-size: 50px;
    height: 65px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    transition: background 0.4s, color 0.4s;
}

.hero-image .camera-icon i:hover {
    background: rgba(255, 255, 255, 0.62);
    color: #000;
}


/* Detail content */

.breadcrumb {
    padding: 0;
    background-color: transparent;
    font-size: 13px;
    margin-bottom: 0;
}

.breadcrumb a {
    color: #AFAFAF;
}

.breadcrumb a:hover {
    color: #808080;
}

.breadcrumb>li+li:before {
    font-family: villalet-fontset;
    content: "y"
}

.detail-content .title {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 10px;
    ;
}

.add-to-list {
    font-size: 16px;
    padding: 10px 0;
}

.add-to-list,
.add-to-list a {
    color: #B5B5B5;
}

.add-to-list a:hover {
    color: #29AAC0;
}

.add-to-list i {
    font-size: 24px;
    color: #ffb81a;
    display: inline-block;
    height: 23px;
}

.detail-content {
    padding: 30px 0;
    font-size: 18px;
    color: #696969;
}

.detail-content p {
    margin-bottom: 20px;
}

.detail-content h2 {
    color: #ea6234;
    font-size: 36px;
}

.detail-content .count i {
    font-size: 53px;
    display: inline-block;
    height: 56px;
    margin-left: 15px;
}

.detail-content .count .icon-bed {
    font-size: 67px;
}

.detail-content .count span {
    display: inline-block;
    font-size: 20px;
    padding: 14px 2px;
}

.detail-content .count {
    text-align: right;
    color: #B3B3B3;
}

.detail-content .price-box {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: right;
}

.detail-content .from-label {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.detail-content .price {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    color: #1daec4;
}

.detail-content .price span {
    font-size: 36px;
}

.detail-content .per-night-label {
    font-size: 16px;
}

.detail-content .per-night-label:before {
    height: 3px;
    width: 92px;
    background: #6D6D6D;
    display: inline-block;
    content: "";
    vertical-align: baseline;
    margin-right: 10px;
}

.detail-content .tax-label {
    font-size: 14px;
}

.detail-content .inclusion {
    font-size: 14px;
    text-align: left;
    border-top: 1px solid #ddd;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.detail-content .inclusion h5 {
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3px;
}

.detail-content .inclusion p {
    margin: 0;
    margin-bottom: 10px;
}

.detail-content .inclusion .button {
    width: 100%;
    padding: 7px;
    text-align: center;
    background: #ea6234;
    border-bottom: 5px solid #cf5328;
    padding-bottom: 3px;
    transition: background 0.4s;
}

.detail-content .inclusion .button:hover {
    background: #C54B22;
}

.detail-content .read-more {
    color: #ea6234;
    font-weight: 600;
    font-style: italic;
}
.detail-content .read-more:after{
    font-family: villalet-fontset;
    content: "y"
}

.detail-content .read-more:hover {
    color: #04b1c4;
}

.facilities {
    background: #f1f1f1;
    margin-top: 70px;
    padding-bottom: 20px;
}

.facilities .feature-icons {
    overflow: hidden;
    text-transform: uppercase;
    font-size: 15px;
    color: #B3B3B3;
    padding: 20px;
    margin-top: -70px;
}

.facilities .feature-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.facilities .feature-icons li {
    float: left;
    width: 16.6%;
    text-align: center;
}

.facilities .feature-icons li i,
.facilities .feature-icons li span {
    display: block;
}

.facilities .feature-icons li i {
    font-size: 75px;
    height: 75px;
}

.facilities .feature-icons .active {
    color: #04b1c4;
}

.facilities .feature-icons .active span {
    color: #888;
}


/* Box */

.facilities .box {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 15px;
}

.facilities ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.facilities li {
    line-height: 1.7;
}

.facilities .box h4 {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    padding-top: 0;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.facilities h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.facilities .features span {
    font-weight: bold;
}

.facilities .services li {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 17px;
}

.facilities .services li:before {
    content: "\2022";
    font-size: 26px;
    vertical-align: middle;
    line-height: 1;
    margin-right: 6px;
    color: #2badc3;
    position: absolute;
    top: 0;
    left: 0;
}

.facilities .services ul {
    margin-bottom: 20px;
}

.facilities .services ul:last-child {
    margin-bottom: 0;
}

.facilities .bedroom table {
    position: relative;
}

.facilities .bedroom table:before,
.facilities .bedroom table:after {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    left: -15px;
    right: -15px;
    background-color: #ddd;
}

.facilities .bedroom table:after {
    top: auto;
    bottom: 0;
}

.facilities .bedroom .table>tbody>tr>td {
    border-top: 0;
    border-right: 1px solid #ddd;
}

.facilities .bedroom .table>tbody>tr>td:first-child {
    padding-left: 0;
}

.facilities .bedroom .table>tbody>tr>td:last-child {
    border: 0;
    padding-right: 0;
}

.facilities .bedroom .table>tbody>tr>td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.facilities .bedroom p {
    font-size: 13px;
    margin: 0;
}

.facilities .customer-review {
    line-height: 1.7;
}

.facilities .customer-review .name {
    color: #2badc3;
}

.facilities .customer-review .rating {
    margin-top: 10px;
}

.facilities .customer-review .rating ul {
    overflow: hidden;
}

.facilities .customer-review .rating li {
    float: left;
    font-size: 18px;
    color: #ffb81a;
}

.facilities .customer-review .view-all {
    color: #ea6234;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    line-height: 1.5;
    display: block;
}

.facilities .customer-review .view-all:after{
    font-family: villalet-fontset;
    content: "y"
}


/* Map */

section.map {
    min-height: 470px;
    position: relative;
}

section.map #map {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Search result page ----------- */

.search-result-page {
    background-color: #f1f1f1;
    padding: 30px 0;
}

.search-result .sidebar {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
}

.search-result .sidebar,
.search-result .sidebar a {
    color: #7D7D7D;
}

.search-result .location-finder {
    position: relative;
    padding-left: 66px;
    ;
}

.search-result .location-finder span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 7px 0;
}

.search-result .location-finder input {
    border-radius: 0;
}

.search-result .price-range-label {
    overflow: hidden;
}

.search-result .price-range {
    height: 3px;
    margin: ;;
    margin-top: 10px;
}

.search-result .price-per-night {
    margin-top: 20px;
}

.search-result .search-filter {
    padding: 10px 0;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    margin: 30px 0;
}

.search-result .sidebar .filter-anchor {
    font-size: 16px;
    color: #f07846;
    text-decoration: none;
}

.search-result .sidebar .filter-anchor:hover {
    color: #25b1bb;
}

.search-result .sidebar .filter-anchor:before {
    font-family: "villalet-fontset" !important;
    font-style: normal !important;
    ;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\75";
    color: #A5A5A5;
    font-size: 14px;
    display: inline-block;
    padding: 5px 0px;
    padding-right: 3px;
    font-weight: bold;
}

.search-result .sidebar .filter-anchor.collapsed:before {
    content: "\74";
}

.search-result .sidebar .filter-item {
    padding: 10px 0;
}

.search-result .sidebar-button .button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 17px;
    padding: 7px 29px;
}

.search-result .sidebar-button .update-search {
    background-color: transparent;
    border: 1px solid #f07846;
    color: #f07846;
}

.search-result .sidebar-button .update-search:hover {
    background: #f07846;
    color: #fff;
}

.search-result .sidebar-button .clear-search {
    background-color: #b7b7b7;
    color: #fff;
}

.search-result .sidebar-button .clear-search:hover {
    background: #19afc4;
}

.search-result #filter-bedroom {
    max-width: 170px;
}


/* Content */

.search-result .top-filter {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    color: #7D7D7D;
}

.search-result .top-filter a {
    color: #7D7D7D;
}

.search-result .top-filter a:hover {
    color: #25b1bb;
}

.search-result .top-filter .header {
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 5px;
}

.search-result .top-filter ul {
    margin: 0;
    margin-left: -5px;
    margin-right: -5px;
}

.search-result .tabs {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-result .nav-tabs>li>a {
    line-height: 1;
    border-radius: 0;
    background: #d6d6d6;
    color: #969696;
    transition: background 0.4s, color 0.4s;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
    background: #25B1BB;
    color: #fff;

}

.search-result .nav-tabs>li.active>a,
.search-result .nav-tabs>li.active>a:focus,
.search-result .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #02a2b5;
}

.search-result .tabs .nav-tabs {
    border: 0;
    line-height: 1;
}

.search-result .tabs .nav-tabs i {
    height: 14px;
    display: inline-block;
}

.search-result .tabs select {
    padding-right: 60px;
}

.search-result .search-item .image {
    position: relative;
    min-height: 300px;
}

.search-result .search-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    color: #fff;
    background: rgba(0, 0, 0, 0.38);
    padding: 4px 20px;
}

.search-result .search-item .overlay i {
    font-size: 30px;
    display: inline-block;
    height: 25px;
}

.search-result .search-item .count .icon-bed {
    font-size: 33px;
}

.search-result .search-item .count span,
.search-result .search-item .villa-name {
    display: inline-block;
    padding: 5px 0;
}

.search-result .search-item .villa-name {
    text-transform: uppercase;
}

.search-result .villa-name span {
    text-transform: none;
}

.search-result .search-item .image-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.search-result .search-item {
    position: relative;
    margin-bottom: 30px;
}

.search-result .villa-label {
    position: absolute;
    top: -8px;
    background-color: #ed6229;
    left: 10px;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    font-size: 13px;
    max-width: 120px;
    text-align: center;
    padding: 6px;
}

.search-result .details {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 4px solid #f07846;
    overflow: hidden;
}

.search-result .details > div {
    position: relative;
}

.search-result .details > div:first-child:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ddd;
}

.search-result .details > div:last-child:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: -1px;
    background: #ddd;
}

.search-result .details .villa-detail .name {
    overflow: hidden;
    padding: 20px 0 5px;
}

.search-result .villa-detail .name h3 {
    margin: 0;
}

.search-result .villa-detail .name h3 a {
    font-size: 18px;
    color: #eb6234;
}

.search-result .villa-detail .name h3 a:hover {
    color: #19afc4;
}

.search-result .villa-detail {
    padding-bottom: 20px;

}

.search-result .add-to-list {
    font-size: 13px;
    padding: 2px 0;
}

.search-result .add-to-list i {
    font-size: 17px;
    height: 17px;
}

.search-result .per-night-label span {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-result .per-night-label {
    font-weight: 600;
    line-height: 1;
}

.search-result .price-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #19afc4;
    margin: 2px 0;
}

.search-result .price-label span {
    font-size: 25px;
}

.search-result .fee-label {
    font-size: 12px;
}

.search-result .price {
    text-align: right;
    padding: 20px 0;
}

.search-result .price .button {
    padding: 7px 29px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-bottom: 3px solid #B7542B;
}

.search-result .price .button:hover {
    background: #B7542B
}

.search-result .pagination {
    margin: 0;
    background: #fff;
    border-radius: 0;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: #ADADAD;
}

.search-result .pagination a {
    color: #34bccc;
    display: inline-block;
    padding: 0 8px;
}

.search-result .pagination a:hover {
    color: #f07846;
}

.search-result .pagination .first:before {
     font-family: villalet-fontset;
     content: "z";
     text-transform: none;
}

.search-result .pagination .prev:before {
     font-family: villalet-fontset;
     content: "A";
     text-transform: none;
}

.search-result .pagination .last:after {
     font-family: villalet-fontset;
     content: "y";
     text-transform: none;
}

.search-result .pagination .next:after {
     font-family: villalet-fontset;
     content: "t";
     text-transform: none;
}

.search-result .nstSlider {
    width: 100%;
    height: 4px;
    background: #8C8C8C;
}

.nstSlider .bar {
    background: #ED6229;
    height: 4px;
    top: 0px;
}

.nstSlider .leftGrip, .nstSlider .rightGrip {
    width: 12px;
    height: 12px;
    border: 3px solid #25b1bb;
    margin-top: -4px;
}
